/* [S] Layout > Header 영역 */
.header {
	height: 45px;
    line-height: 45px;
	
	margin-left: 20%;
	margin-right: 20%;

    display: flex;
    justify-content: space-between;
}
/* [E] Layout > Header 영역 */



/* [S] Layout > Contents 영역 */
.contents {
    margin: 0px auto;
    height : auto;
    min-height: 100%;
    text-align: center;

    padding-bottom: 100px;  /* footer 영역 높이만큼 */
}

.contents-banner img {
    border-radius: 10px 10px 10px 10px;
}

.contents-search {
    margin: 20px auto;
    width: 750px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 20px;

    color: gray;
    box-shadow: 5px 5px lightgray;
    
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
    
}
/* [E] Layout > Contents 영역 */



/* [S] Layout > Footer 영역 */
.footer {
    border-top: 1px solid lightgray;
    height: 100px;

    position : relative;
    transform : translateY(-100%);
    
}
/* [E] Layout > Footer 영역 */